<footer class="container footer">
<small>
    created by Terry Fong
</small>
<ul class="nav navbar-nav navbar-right">
    <li><a href="about.html">About</a></li>
    <li><a href="career.html">Career</a></li>
</ul>
</footer>
