<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
            <a class="navbar-brand" href="/">Guanhai</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="<%= auth_provider_path %>">About</a></li>
                <li><a href="b.html">b</a></li>
                <li><a href="<%= auth_provider_path %>">Login</a></li>
            </ul>
    </div>
</nav>
